/*Reset brower specfic CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; 
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

a, a:link, a:hover, a:visited {
color: #bfe0e9;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

p { margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


@font-face {font-family:"Doctor Who";src:url("doctor_who_2010.eot?") format("eot"),url("doctor_who_2010.woff") format("woff"),url("doctor_who_2010.ttf") format("truetype"),url("doctor_who_2010.svg#Doctor-Who-2010") format("svg");font-weight:normal;font-style:normal;}


/*Start Map CSS*/



body{
background: #102372;
color:#ffffff;
font-size: 1em;
line-height: 1.5em;
font-weight:300px;
font-family: 'Quattrocento Sans', Helvetica, Arial, sans-serif;
margin: 0 auto;
max-width: 1280px;
padding:  10px 40px;
text-align: center;
}

header {
  margin-top: 1em;
}

h1 {
float: left;
margin-right: 20px;
font-family: "Doctor Who", Arial, sans-serif;
font-size: 4em;
line-height: 0.5em;
text-transform: uppercase;
text-rendering: optimizeLegibility;
letter-spacing: 2px;
color: white; /* Non-webkit browsers */
/*background-image: -webkit-gradient(
	linear,
	left top, left bottom,
	from(rgba(83, 74, 119, 0.4)),
	to(rgba(255, 255, 255, 1))
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
*/ 

} 

h2 {
font-size: 1em;
line-height: 1.5em;
margin-bottom: 1em;
}

#print-paragraphs {
	text-align: left;
	margin-top: 20px;
	margin-bottom: 40px;
}



strong {
  font-weight: bold;
  color: #C43512;
}


#submit {
text-transform: uppercase;
background-color: #C43512;
border: 1px solid white;
border-radius: 5px 5px 5px 5px;
color: #F2F2F2;
font-size: 1em;
margin-top: 1em;
padding: 10px;
width: auto;
}

form strong {

    font-weight: normal;
    margin: 0 auto 20px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    width: 100%;
    padding-top: 10px;
     border-top: 1px solid rgb(83, 74, 119);
    display: inline-block;

}

.tagline {
text-align: left;
min-width: 200px;
padding-top: 0.3em;
	font-family: Georgia, serif;
	font-style: italic;
}

input[type="checkbox"] {
    position: absolute; 
    clip: rect(1px, 1px, 1px, 1px);
}


input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../img/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url(../img/check_radio_sheet.png) -19px top no-repeat;
}

input[type="radio"] {
    position: absolute; 
    clip: rect(1px, 1px, 1px, 1px);
}


input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../img/check_radio_sheet.png) -38px top no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span {
    background:url(../img/check_radio_sheet.png) -57px top no-repeat;
}



label.doctors {
background: url("../img/Allo_Im_the_Doctor.png") center 20px no-repeat;
width: 150px;
height: 210px;
display: inline-block;
text-align: center;
margin-bottom: 20px;
}


label.doctors[for="second-doctor"] {
	background-position: center /*  9%; */ 7.5%;
}

label.doctors[for="third-doctor"] {
	background-position: center /* 19.5%; */ 16%;
}

label.doctors[for="fourth-doctor"] {
	background-position: center /* 29.6%; */ 24.7%;
}

label.doctors[for="fifth-doctor"] {
	background-position: center /*40%; */ 33%;
}

label.doctors[for="sixth-doctor"] {
	background-position: center /*50%; */ 42%;
}

label.doctors[for="seventh-doctor"] {
	background-position: center /*60%;*/ 50%;
}
label.doctors[for="eighth-doctor"] {
	background-position: center /*70%;*/ 58%;
}

label.doctors[for="ninth-doctor"] {
	background-position: center /*80%;*/ 67%;
}

label.doctors[for="tenth-doctor"] {
	background-position: center /*90%;*/ 75%;
}


label.doctors[for="eleventh-doctor"] {
	background-position: center 83%;
}

label.doctors[for="twelfth-doctor"] {
	background-position: center 91.7%;
}

label.doctors[for="war-doctor"] {
	background-position: center 100.25%;
}

label.doctors[for="all-doctors"] {
	background-image: url(../img/TARDIS.png);
}

footer {
width: 100%;
padding-top: 10px;
border-top: 1px solid rgb(83, 74, 119);
display: inline-block;
}

@media screen and (max-width: 794px) {
 h1, .tagline, #print-paragraphs {
 float: none;
 text-align: center;

 	}

}
